<h1>Earth</h1>
<ul>
    <% earthTraits.forEach(trait => { %> 
        <li> <%= trait %> </li>
<% }) %> 
</ul>
<h3>Earth List:</h3>
<ul>
   <% signsList.forEach(sign => { %>
        <a href="/earth/<%=sign%>"><li><%= sign %></li></a>
        <% }) %>
</ul>