<h1>fire</h1>
<ul>
    <% fireTraits.forEach(trait => { %> 
        <li> <%= trait %> </li>
<% }) %> 
</ul>
<h3>fire List:</h3>
<ul>
   <% signsList.forEach(sign => { %>
        <a href="/fire/<%=sign%>"><li><%= sign %></li></a>
        <% }) %>
</ul>