<h1>Water</h1>
<ul>
    <% waterTraits.forEach(trait => { %> 
        <li> <%= trait %> </li>
<% }) %> 
</ul>
<h3>Water List:</h3>
<ul>
   <% signsList.forEach(sign => { %>
        <a href="/water/<%=sign%>"><li><%= sign %></li></a>
        <% }) %>
</ul>
